<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QLTP_Entities" connectionString="metadata=res://*/QLTP_Entities.csdl|res://*/QLTP_Entities.ssdl|res://*/QLTP_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MYNGOC;initial catalog=QLTP_Lastest;persist security info=True;user id=sa;password=12345;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>